/* Fonte do site*/
@font-face {
    font-family:'Afacad';
    src:url("../fonts/afacad.ttf");

    font-family:'Bruno';
    src:url("../fonts/bruno.ttf");
}

/* Formatação dos Navegadores */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Afacad;
    text-decoration: none;
    list-style: none;
}

/* Formatação das Cores */

:root{
    --preto: #0d0d0d;
    --azul: #66CAF2;
    --escuro: #03658C;
    --amarelo: #f2c438;
    --branco: #fff;
}

/* Formatação Body */

body{
    width:93%;
    background: var(--preto);
    color: var(--branco);
    font-size: 18px;
    margin: 10px auto;
    scroll-behavior: smooth;
}

/* Formatação Header */

.topo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu li{
    display: inline-flex;
    gap: 30px;
}

.menu a{
    font-size: 1.3rem;
    color: var(--azul);
    padding:5px 30px;
    border-bottom: 2px solid var(--preto);
}

.menu a:hover{
    background-color: var(--escuro);
    border-radius: 20px;
    border-bottom: 2px solid var(--azul);
    color:var(--branco);
}

/* Formatação do Banner */

.banner{
    background: url(../img/bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height: 450px;
    margin: 20px auto;
}

.banner .drone img{
  width:280px;
  animation: drone 10s alternate infinite;
}

/* formatação Serviços */

.servicos{
    width: 100%;
    height:500px;
    background: url(../img/bg-ceu.png) no-repeat right top, #000;
}

.titulo{
    padding: 10px;
}

.titulo h2{
    font-size: 40px;
    color: var(--escuro);
    text-align: center;
}

.card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:400px;
    padding: 0px 10px;
}

.card1{
    font-size: 1.3rem;
    text-align: center;
}

.card1 img{
    border: 3px solid var(--azul);
    border-radius: 10px;
    margin-top: 30px;
    transition: 2s;
}

.card img:hover{
  transform: scale(1.3);
}

/* Formatação áera de clientes */

.clientes{
  background-color: var(--branco);
  padding:20px;
  height: 300px;
}

.clientes .titulo p{
  color: var(--escuro);
  font-size: 24px;
  text-align: center;
}

.fotos-clientes{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap:40px;
  animation: animacao;
  animation-duration: 5s;
  animation-iteration-count: 5;
}

.seta{
  display: flex;
  justify-content:flex-end;
}

/* Formatação Vídeo */
.area-video{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    position: relative;
}

.video video{
    width: 100%;
    mask-image:
    linear-gradient(0deg, rgba(0,0,0,0.4) 100%, #000000 60%);
}

.contato{
  position: absolute;
  top: 140px;
  left: 50px;
}

.contato-dados{
  padding: 20px;
  background-color: rgba(0, 0, 10, 0.5);
  margin-bottom: 50px;
  border-radius: 10px;
}

.contato-dados i{
  color: var(--azul);
  font-weight: 600;
  font-size: 32px;
}

.formulario{
  position: absolute;
  top:140px;
  right:40px;
  background-color: rgba(0, 0, 10, 0.5);
  padding:10px;
  text-align: center;
  border-radius: 10px;
}


.formulario i{
  color: var(--azul);
  font-weight: 600;
  font-size: 34px;
}

.formulario h2{
  padding-bottom: 30px;
}

.formulario input{
  width: 400px;
  height: 35px;
  margin-bottom: 10px;
  border: none;
  padding-left: 20px;
  outline: none;
  font-size: 20px;
}

.formulario textarea{
  width:400px;
  height: 150px;
  padding: 10px 20px;
  outline: none;
  font-size: 20px;
}

.formulario input[type=submit]{
  width: 200px;
  height:40px;
  margin-top: 10px;
  background-color: var(--escuro);
  color:var(--branco);
  font-size: 24px;
  padding-left: 0px;
  border-radius: 20px;
  transition: 1s;
}

.formulario input::placeholder, textarea::placeholder{
  color:var(--escuro);
  font-size: 16px;
}

.formulario input[type="submit"]:hover{
  background-color: var(--azul);
  color: var(--escuro);
  font-weight: bold;
}

/* Formtação do Rodape */

footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--escuro);
  padding: 10px;
}

/* Animações */
@keyframes animacao {
  from {transform: scale(0);}
  to {transform: scale(1);}
}

@Keyframes drone{
  from{margin-left:10%; transform: scale(1);}
  to{margin-top:95%; transform: scale(1.2);}
}
